<style>
table {
border: 1x solid silver;
}

td:hover {
background-olor: yellow;
color: black;
}

tr, th {
background-color: black;
color: cornsilk;
}

tr, td {
background-color: darkgreen;
color: white;
}
</style>